body.purchase-price-feature div.tcg-collector-card-prices > div {
    display: flex;
    gap: 10px 15px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid;
}

body.purchase-price-feature html[data-darkreader-scheme="dark"] div.tcg-collector-card-prices > div {
    border-bottom: 1px solid rgb(53, 58, 60);
}

body.purchase-price-feature html[data-darkreader-scheme="dark"] .card-image-grid-item-info-overlay-text {
    border-right-color: rgb(48, 52, 54);
    color: rgb(166, 158, 146);
    background-color: rgb(24, 26, 27);
    border-top-color: rgb(48, 52, 54);
}

body.purchase-price-feature div.tcg-collector-card-prices-wrapper .title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: .5rem;
    text-transform: none;
}

body.purchase-price-feature div.tcg-collector-card-prices-wrapper .error {
    background-color: #ffebec;
    border: 0 solid #e13238;
    border-left-width: 5px;
    border-radius: 0.4rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    padding: 0.5rem;
    color: #4b1113;
    font-size: 14px;
}