body.market-place-links-feature {
  a.market-place-link {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 3px;
    }

    img {
      width: 16px;
      height: 16px;
      border-radius: 16px;
    }
  }
}