body.print-binder-expansion-logos {
  div#set-search-result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button.toggle-print-selection {
    display: flex;
    align-items: center;
    min-width: auto;
    margin-left: 15px;
    padding: .175rem .35rem;
    column-gap: 5px;
  }

  .set-logo-grid-item {
    position: relative;

    .set-logo-grid-item-body {
      margin-bottom: 1rem;
    }

    label {
      display: none;
      cursor: pointer;
      position: absolute;
      width: 100%;
      height: calc(100% - 1.5rem);
      justify-content: center;
      align-items: end;
      margin: 0;
      padding: 0;
    }
  }

  div.print-navigation {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    z-index: 50;
    transform: translate(-50%);
    padding: 10px 0;
    left: 50%;
    background-color: rgb(24, 26, 27);
    border-top: 1px solid rgb(53, 58, 60);
    box-sizing: border-box;

    * {
      box-sizing: border-box;
    }

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      height: 100%;

      button {
        display: flex;
        column-gap: 5px;
        padding: 10px 15px;
        border-radius: .5rem;
        border: 0;

        &.print {
          background-color: #046c4e;
        }

        &.cancel {
          background-color: #c81e1e;
        }
      }

      div.shape {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        column-gap: 5px;
        position: relative;

        span {
          position: absolute;
          left: 15px;
        }

        select {
          border: 2px solid rgb(53, 58, 60);
          border-radius: 0.5em;
          padding: 5px 10px 5px 35px;
        }
      }

      div.size {
        display: flex;
        column-gap: 2px;
        align-items: center;
        position: relative;

        span.fa-solid {
          position: absolute;
          left: 15px;
        }
        span.unit {
          position: absolute;
          right: 15px;
        }

        input {
          width: auto;
          padding: 8px 40px 8px 35px;
          border: 2px solid rgb(53, 58, 60);
          border-radius: 0.5em;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }

  &.in-print-selection-mode {
    div.print-navigation {
      display: block;
    }

    .set-logo-grid-item {
      align-items: center;

      a {
        color: #a69e92;
        position: relative;
        pointer-events: none;

        &:hover {
          text-decoration: none;
          cursor: default;
        }
      }

      label {
        display: flex;
      }
    }

    .set-logo-grid-item-text-content,
    .set-logo-grid-item-footer,
    #page-content > .container,
    #set-search-result > .container:first-child,
    #expansion-series-nav {
      display: none;
    }
  }

  #print {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    color: #000;
    width: 210mm;

    --expansion-width: 35mm;
    --expansion-border-radius: 50%;

    .expansion {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: var(--expansion-width) !important;
      width: var(--expansion-width) !important;
      min-width: var(--expansion-width) !important;
      max-width: var(--expansion-width) !important;
      border-radius: var(--expansion-border-radius);
      border: 1px solid #000;

      img.logo {
        max-width: 95%;
        max-height: 60%;
      }

      img.symbol {
        position: absolute;
        bottom: 8px;
        width: 25px;
      }

      &.page-break {
        page-break-after: always;
      }
    }
  }

  &.printing {
    #print, #print * {
      box-sizing: border-box;
    }

    @media print {
      @page {
        size: A4 portrait;
      }

      > *:not(#print) {
        display: none;
      }

      #print {
        display: flex;
      }
    }
  }
}