body.purchase-price-feature {
  div.tcg-collector-card-prices-wrapper {
    .title {
      font-size: 1rem;
      font-weight: 600;
      margin-top: .5rem;
      text-transform: none;
    }

    div.tcg-collector-card-prices > * {
      display: flex;
      gap: 10px 15px;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid;

      div.grading {
        display: flex;
        align-items: center;
        column-gap: 2px;

        .icon {
          display: block;
          width: 35px;
          text-indent: -99999px;
          background-position: center;
          background-repeat: no-repeat;

          &.psa {
            background-size: auto 12px;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/psa.png');
          }

          &.cgc {
            background-size: 22px auto;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/cgc.png');
          }

          &.ucg {
            background-size: 22px auto;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/ucg.png');
          }
        }
      }
    }
  }
}

html[data-darkreader-scheme="dark"] body.purchase-price-feature {
  div.tcg-collector-card-prices > div {
    border-bottom: 1px solid rgb(53, 58, 60);
  }
}