/* COLLECTION HISTORY */
body.collection-history-feature {
  a.chart-modal {
    min-width: auto;
    margin-left: 3px;
  }

  .modal-window {
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.5);

    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }

    > div {
      background-color: rgb(24, 26, 27);
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 0.75rem;
      border-radius: .375rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      width: 90%;
      height: 90vh;

      .chart {
        width: 100%;
        height: 100%;
      }

      .modal-close {
        font-weight: 600;
        line-height: 50px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
        font-size: 36px;
        color: inherit;
      }
    }
  }
}

/* MARKET PLACE LINKS */
body.market-place-links-feature {
  a.market-place-link {
    display: flex;
    align-items: center;

    &:last-child {
      margin-left: 3px;
    }

    img {
      width: 16px;
      height: 16px;
      border-radius: 16px;
    }
  }
}

/* PRINT BINDER EXPANSION LOGOS */
body.print-binder-expansion-logos {
  div#expansion-search-result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  button.print {
    display: flex;
    align-items: center;
    min-width: auto;
    margin-left: 15px;
    padding: .175rem .35rem;
    column-gap: 5px;
  }

  #print {
    display: none;

    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    row-gap: 10px;
    color: #000;

    .expansion {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 3.5cm !important;
      width: 3.5cm !important;
      min-width: 3.5cm !important;
      max-width: 3.5cm !important;
      border-radius: 50%;
      border: 1px solid #000;

      img.logo {
        max-width: 95%;
        max-height: 60%;
      }

      img.symbol {
        position: absolute;
        bottom: 8px;
        width: 25px;
      }

      &:nth-child(35n) {
        page-break-after: always;
      }
    }
  }

  &.printing {
    #print, #print * {
      box-sizing: border-box;
    }

    @media print {
      @page {
        size: A4 portrait;
      }

      > *:not(#print) {
        display: none;
      }

      #print {
        display: grid;
      }
    }
  }
}

/* PRINT BINDER PLACEHOLDERS */
body.print-binder-placeholders-feature {
  div#card-search-result-header {
    display: flex;
    align-items: center;
  }

  button.print {
    display: flex;
    align-items: center;
    min-width: auto;
    margin-left: 15px;
    padding: .175rem .35rem;
    column-gap: 5px;
  }

  #print {
    display: none;
    grid-template-columns: 6.3cm 6.3cm 6.3cm;
    gap: 2px;
    color: #000;

    .placeholder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 6.3cm !important;
      min-width: 6.3cm !important;
      max-width: 6.3cm !important;
      height: 8.8cm !important;
      word-wrap: break-word;
      font-weight: bold;
      padding: 0.5em;
      border-radius: 0.3em;
      border: 3px solid #000;

      &:nth-child(9n) {
        page-break-after: always;
      }
    }
  }

  &.printing {
    #print, #print * {
      box-sizing: border-box;
    }

    @media print {
      > *:not(#print) {
        display: none;
      }

      #print {
        display: grid;
      }
    }
  }
}

/* PURCHASE PRICES */
body.purchase-price-feature {
  div.tcg-collector-card-prices-wrapper {
    .title {
      font-size: 1rem;
      font-weight: 600;
      margin-top: .5rem;
      text-transform: none;
    }

    div.tcg-collector-card-prices > * {
      display: flex;
      gap: 10px 15px;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid;

      div.grading {
        display: flex;
        align-items: center;
        column-gap: 2px;

        .icon {
          display: block;
          width: 35px;
          text-indent: -99999px;
          background-position: center;
          background-repeat: no-repeat;

          &.psa {
            background-size: auto 12px;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/psa.png');
          }

          &.cgc {
            background-size: 22px auto;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/cgc.png');
          }

          &.ucg {
            background-size: 22px auto;
            background-image: url('chrome-extension://__MSG_@@extension_id__/dist/assets/ucg.png');
          }
        }
      }
    }
  }
}

html[data-darkreader-scheme="dark"] body.purchase-price-feature {
  div.tcg-collector-card-prices > div {
    border-bottom: 1px solid rgb(53, 58, 60);
  }
}

/* TOASTIFY */
.toastify {
  padding: 12px 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  position: fixed;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  max-width: calc(50% - 20px);
  z-index: 2147483647;
  background: #1f2937 no-repeat;

  &.success {
    background-color: #0e9f6e;
  }

  &.error {
    background-color: #9b1c1c;
  }

  @media only screen and (max-width: 360px) {
    &.toastify-right, &.toastify-left {
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      max-width: fit-content;
    }
  }

  &.toastify-right {
    right: 15px;
  }

  &.toastify-left {
    left: 15px;
  }

  &.toastify-top {
    top: -150px;
  }

  &.toastify-bottom {
    bottom: -150px;
  }

  &.toastify-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: fit-content;
  }

  &.on {
    opacity: 1;
  }

  h3 {
    font-size: 0.6rem;
    line-height: 1;
    margin: 0;
  }

  .toast-close {
    align-self: flex-start;
    margin-right: -20px;
    margin-top: -10px;
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1em;
    opacity: 0.4;
  }
}
