button.sync-prices {
  &.warning {
    color: #fff;
    background-color: #e3a008;

    &:hover,
    &:focus,
    &:active {
      background-color: #c27803;
      color: #fff;
    }

    > .button-icon {
      color: #fff;
    }
  }


  span.last-refresh-date {
    font-size: 12px;
  }
}